doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Word cloud
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
  body
    div(class='page-header')
      h1 Word clouds
    div(id='react-root')= componentHTML
      script(type='text/javascript' src=jsSrc)
