#word-cloud {
  margin: 0 auto;
  padding: 2em 0;
  font: 100% Arial, sans-serif;
}

dd.positive {
  color: #00FF00;
}

dd.neutral {
  color: #AAAAAA;
}

dd.negative {
  color: #FF0000;
}

#word-cloud span {
  margin: 0 5px;
}

#word-cloud span.sentiment-positive {
  color: #00FF00;
}

#word-cloud span.sentiment-neutral {
  color: #AAAAAA;
}

#word-cloud span.sentiment-negative {
  color: #FF0000;
}

#word-cloud .word-1 {
  font-size: 16px;
}

#word-cloud .word-2 {
  font-size: 24px;
}

#word-cloud .word-3 {
  font-size: 32px;
}

#word-cloud .word-4 {
  font-size: 40px;
}

#word-cloud .word-5 {
  font-size: 48px;
}

#word-cloud .word-6 {
  font-size: 70px;
}